.root {
	@apply flex
		size-10
		shrink-0
		overflow-hidden
		rounded-md
		outline
		outline-2
		outline-green-300
		dark:outline-green-800
		shadow-sm
		transition-shadow
		shadow-green-300
		dark:shadow-green-800;

	&:has(.image):hover {
		@apply shadow-md
			shadow-green-400
			dark:shadow-green-700;
	}
}

.image {
	@apply aspect-square
		size-full;
}

.fallback {
	@apply flex
		size-full
		items-center
		justify-center
		rounded-md
		bg-green-100
		text-base
		font-bold
		text-black
		dark:bg-green-800
		dark:text-white;
}
