.section {
	@apply bg-green-50
		px-10
		py-8
		dark:bg-green-800;

	.header {
		@apply mb-8
			border-gray-600
			border-b-2
			dark:border-gray-200;

		h2 {
			@apply mb-2
				font-bold
				text-3xl
				dark:text-white;
		}

		p {
			@apply font-semibold
				text-gray-600
				dark:text-gray-200;
		}
	}
}
