@reference "./globals.css";

.md-content {
	h1 {
		@apply text-4xl font-bold mb-2;
	}

	h2 {
		@apply text-3xl font-bold mb-2;
	}

	h3 {
		@apply text-2xl font-bold mb-2;
	}

	h4 {
		@apply text-xl font-bold mb-2;
	}

	h5 {
		@apply text-lg font-bold mb-2;
	}

	h6 {
		@apply text-base font-bold mb-2;
	}

	p {
		@apply text-base mb-4;
	}

	a {
		@apply text-green-600 underline dark:text-green-400;

		&:hover {
			@apply text-green-800 dark:text-green-200 no-underline;
		}
	}

	ul {
		@apply list-disc pl-4;
	}

	ol {
		@apply list-decimal pl-4 pb-4 ml-4;
	}

	blockquote {
		@apply border-l-4 border-green-400 italic pl-4 py-2 my-4 dark:border-green-600;

		cite {
			@apply block text-sm font-bold text-green-600 dark:text-green-400;

			&:before {
				@apply content-['-'];
			}
		}

		p {
			@apply text-base;
		}
	}

	code {
		@apply text-sm text-black bg-gray-200 rounded-sm p-1 dark:bg-gray-800 dark:text-gray-200;
	}

	pre {
		@apply bg-gray-200 rounded-sm p-4 my-4 border border-gray-400 overflow-x-auto dark:bg-gray-800 dark:border-gray-600;
	}

	img {
		@apply mx-auto my-4 rounded-sm shadow-lg;
	}

	table {
		@apply w-full border-collapse border border-green-400 dark:border-green-600;

		th {
			@apply bg-green-400 text-white font-bold text-sm p-2 dark:bg-green-600;
		}

		td {
			@apply border border-green-400 text-sm p-2 dark:border-green-600;
		}
	}

	figure {
		@apply mx-auto my-4 rounded-sm shadow-lg;
	}

	figcaption {
		@apply text-center text-sm p-2;
	}

	details {
		@apply bg-gray-200 rounded-sm p-2 my-4 dark:bg-gray-800;

		summary {
			@apply bg-green-400 text-white font-bold text-sm rounded-t p-2 -mt-4 -mx-2 dark:bg-green-600;
		}
	}
}
